{% include 'header.html' %}
<h1 class="is-size-1 has-text-centered py-6">
  Oakland Events
</h1>
<h2 class="is-size-3 has-text-centered py-6">
  Create Event
</h2>
<form method="post" class="px-6">
  <div class="field">
    <label class="label">Event Name</label>
    <div class="control">
      <input class="input" type="text" name="event" id="event" required>
    </div>
  </div>

  <div class="field">
    <label class="label">When and where? (ie. Meet at the T at 6PM)</label>
    <div class="control">
      <input class="input" type="text" name="where" id="where" required>
    </div>
  </div>

  <div class="field">
    <input class="flatpickr flatpickr-input" type="text" id="date" name="date" placeholder="Select Date.." data-id="datetime" readonly="readonly">
  </div>

  <div class="field">
    <label class="label">Event Description</label>
    <div class="control">
      <textarea class="textarea" placeholder="Textarea" name="desc" required></textarea>
    </div>
  </div>

  <div class="field">
    <label class="label">Invited People (one github username per line)</label>
    <div class="control">
      <textarea class="textarea" placeholder="Textarea" name="invited" required></textarea>
    </div>
  </div>


  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" required>
        I agree that I won't make stupid events
      </label>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
  </div>
</form>
{% include 'footer.html' %}