{% include 'header.html' %}
<section class="has-text-centered">
  <h1 class="is-size-1 has-text-centered py-6">
    Oakland Events
  </h1>

  {% if howManyDue > 0 %}
  <article class="message is-warning mx-6" id="warningmsg">
    <div class="message-header">
      <p>Attention</p>
      <a href="javascript:close()"><button class="delete" aria-label="delete"></button></a>
    </div>
    <div class="message-body">
      You appear to have {{howManyDue}} assignment(s) due on Canvas within the next three days. They are: <br>
      <ul>
        {% for task in stuffDue %}
        <li>
          <a href="{{task['url']}}" target="_blank">{{task['name']}}</a>
        </li>
        <br>
        {% endfor %}
      </ul>
    </div>
  </article>
  <script>
    function close() {
      document.getElementById("warningmsg").style.display = 'none';
    }
  </script>
  {% endif %}

  {% if notInAnyEvents %}
  <h1 class="is-size-4 has-text-centered py6">Sorry, you don't appear to be invited to any active events.</h1>
  {% endif %}

  <p class="has-text-centered py-4">Logged in as {{username}}. <a href="/logout">Sign out.</a></p>
  {% for event in events %}
  <div class="columns mb-6">
    <div class="column">
      <!-- Filler/Padding for left side -->
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <p class="title">
            {{event[0]}}
          </p>
          <p class="subtitle">
            {{event[5]}}
          </p>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <a class="button" href="/details/{{event[2]}}">More Information</a>
          </p>
          <p class="card-footer-item">
            <a class="button" href="javascript:signUp('{{event[2]}}')">Register</a>
          </p>
          {% if username == event[8] %}
          <p class="card-footer-item">
            <a class="button" href="javascript:delete('{{event[2]}}')">Delete Event</a>
          </p>
          {% endif %}
        </footer>
      </div>
    </div>
    <div class="column">
      <!-- Filler/Padding for right side -->
    </div>
  </div>
  {% endfor %}
  <!-- maybe restrict this to certain people in the future -->
  <a class="button is-success is-large" href="/create">New Event</a>
</section>
{% include 'footer.html' %}