{% include 'header.html' %}
<section class="has-text-centered">
    <h1 class="is-size-1 has-text-centered py-6">
        Oakland Events
    </h1>
    <h2 class="is-size-3 has-text-centered py-6">
        Transit Dashboard
    </h2>
    <table class="table">
        <thead>
            <tr>
                <th>Transport Type</th>
                <th>Start</th>
                <th>End</th>
                <th>Depature Times</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bus (57)</td>
                <td>Mills College (Oakland)</td>
                <td>MacArthur BART</td>
                <td id="optionOne"></td>
            </tr>
            <tr>
                <td>Bus (NL)</td>
                <td>Mills College (Oakland)</td>
                <td>Salesforce Transit Center (San Fransisco)</td>
                <td id="optionTwo"></td>
            </tr>
            <tr>
                <td>BART</td>
                <td>MacArthur (Oakland)</td>
                <td>Millbrae/SF Airport/Daly City</td>
                <td id="optionThree"></td>
            </tr>
            <tr>
                <td>BART</td>
                <td>Rockridge (Oakland)</td>
                <td>SF Airport</th>
                <td id="optionFour"></td>
            </tr>
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $.post('/', { "mode": "bus" }, function (data) {

            function update(dat, type, busName, field) {
                // 57 to MacArthur
                console.log(dat)
                var f7 = ""
                for (let item of dat[busName]) {
                    const givenDate = new Date(item["time"]);
                    const curDate = new Date()
                    const t = Math.floor((givenDate - curDate) / (60 * 1000))

                    f7 += "" + t + ","
                }

                if (dat[busName].length == 0) {
                    document.getElementById(field).innerHTML = "No depatures at the moment"
                } else {
                    document.getElementById(field).innerHTML = f7.substring(0, f7.length - 1)
                }
            }
            update(data, "bus", "57", "optionOne")
            update(data, "bus", "NL", "optionTwo")
        })

        $.post('/', { "mode": "train" }, function (data) {
            function update(to, train, field){
                // to = to_sf or to_oak
                dat = data[to]
                if(dat.length == 0){
                    document.getElementById(field).innerHTML = "No depatures at the moment"
                }else{
                    document.getElementById(field).innerHTML = "No depatures at the moment"
                }
            }
        })

    </script>

</section>
{% include 'footer.html' %}